<h1>Portfolio Items</h1>

<a href="portfolios/new">Create new Portfolio</a>

<p><%= link_to "Create new Portfolio", new_portfolio_path %></p>


<% @pf.each do |single_pf| %>
	<hr >
	<p><%= single_pf.tittle %></p>
	<p><%= single_pf.subtitle %></p>
	<p><%= single_pf.body %></p>
	<%= image_tag single_pf.thumb_image unless single_pf.thumb_image.nil? %>
	
	
	<%= link_to "Edit this Portfolio", edit_portfolio_path(single_pf.id) %>
<% end %>