
<hr >
	<%= image_tag @single_pf.thumb_image unless @single_pf.thumb_image.nil? %>

	<h1><%= @single_pf.tittle %></h1>

	<em><%= @single_pf.subtitle %></em>
	<p><%= @single_pf.body %></p>
	
	
	<p><%= link_to "Go Back", portfolios_path %></p>
<hr >